body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5; 
    color: #333; 
    line-height: 1.6;
}

h1, h2 {
    color: #333; /* Gris foncé pour les titres */
}

h5 {
    color: #444; 
}

.container {
    max-width: 1000px;
    margin-top: 20px;
    background-color: #fff7f0; 
    border-radius: 10px;
}

.p_colonne_droite {
    background-color: #d1bfa7; /* Beige doux pour le fond de la colonne droite */
    border-radius: 20px;
    margin-top: 50px;
}

.list-unstyled {
    padding-left: 20px;
    list-style: none;
}

.list-unstyled li::before {
    content: "•";
    color: #ba8b65; /* Brun beige pour les puces */
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

p {
    margin-bottom: 10px;
}

.shadow-lg {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Légère ombre */
}

.mt-4 {
    margin-top: 2rem;
}

.text-secondary {
    color: #a28b75; /* Beige légèrement plus foncé pour le sous-titre */
}

.fw-bold {
    font-weight: 700;
}

    .bg-gray {
        background-color: #d1bfa7; /* Beige doux */
    }
    
    .section-padding {
        padding-left: 20px;
        padding-top: 20px;
        
    }
    
    @media print {
        .btn-secondary {
            display: none;
        }
    }
    
    

